<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "ch.vizoom.scanner"
    version   = "1.0.0">

  <name>Vizoom Scanner</name>

  <description>
      Vizoom Scanner
  </description>

  <author href="http://vizoom.ch" email="info@vizoom.ch">Vizoom</author>

  <preference name="orientation" value="portrait" />
  <preference name="fullscreen" value="true" />
  
  <icon src="icon_36.png" width="36" height="36" />
  <icon src="icon_48.png" width="48" height="48" />
  <icon src="icon_72.png" width="72" height="72" />
  <icon src="icon_96.png" width="96" height="96" />

  <preference name="permissions" value="none"/>
  <feature name="http://api.phonegap.com/1.0/camera"/>
  <feature name="http://api.phonegap.com/1.0/network"/>

  <gap:plugin name="BarcodeScanner" />

</widget>